<app-headers [help]="true" [login]="true" [cart]="true" [seller]="true"></app-headers>
<div class="job-header">
  <div class="container">
    <p class="text-center text-uppercase">juntos en acción,&nbsp;<span>EMBRACING LIFe<br></span></p>
    <!-- Start: search -->
    <div class="search w-75 row align-items-center d-flex justify-content-start">
      <!-- Start: marker -->
      <div class="col-1 map-marker"><i class="fa fa-map-marker-alt "></i></div>
      <!-- End: marker -->
      <!-- Start: label -->
      <div class="col-3">
        <select class="w-100 select-state">
          <optgroup label="Ciudad o Estado">
            <option value="12" selected="">This is item 1</option>
            <option value="13">This is item 2</option>
            <option value="14">This is item 3</option>
          </optgroup>
        </select
        ></div>
      <!-- End: label -->
      <!-- Start: searsh -->
      <div class="col-8">
        <form>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-search"></i>
              </span>
            </div>
            <input class="form-control h-100" type="text">
            <div class="input-group-append"><button class="btn" type="button">Buscar</button></div>
          </div>
        </form>
      </div>
      <!-- End: searsh -->
    </div>
    <!-- End: search -->
  </div>
</div>
<div class="container-fluid pt-4 job-title"><img src="../../../../assets/img/face.svg" width="50px" height="50px">
  <p class="pl-4 text-uppercase">alertas de trabajo</p>
</div>
<div class="center slider pb-3">
  <!-- Start: card-slide -->
  <div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-uppercase"><strong>especialista en ventas</strong></h4>
        <h6 class="text-muted card-subtitle mb-2">Nombre de la tienda o comercio</h6>
        <p class="card-text">ciudad o estado</p>
        <hr><a class="card-link" href="#">ver oferta</a><button class="btn btn-primary px-4 ml-3" type="button">solicitar el trabajo</button></div>
    </div>
  </div>
  <!-- End: card-slide -->
  <!-- Start: card-slide -->
  <div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-uppercase"><strong>especialista en ventas</strong></h4>
        <h6 class="text-muted card-subtitle mb-2">Nombre de la tienda o comercio</h6>
        <p class="card-text">ciudad o estado</p>
        <hr><a class="card-link" href="#">ver oferta</a><button class="btn btn-primary px-4 ml-3" type="button">solicitar el trabajo</button></div>
    </div>
  </div>
  <!-- End: card-slide -->
  <!-- Start: card-slide -->
  <div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-uppercase"><strong>especialista en ventas</strong></h4>
        <h6 class="text-muted card-subtitle mb-2">Nombre de la tienda o comercio</h6>
        <p class="card-text">ciudad o estado</p>
        <hr><a class="card-link" href="#">ver oferta</a><button class="btn btn-primary px-4 ml-3" type="button">solicitar el trabajo</button></div>
    </div>
  </div>
  <!-- End: card-slide -->
  <!-- Start: card-slide -->
  <div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-uppercase"><strong>especialista en ventas</strong></h4>
        <h6 class="text-muted card-subtitle mb-2">Nombre de la tienda o comercio</h6>
        <p class="card-text">ciudad o estado</p>
        <hr><a class="card-link" href="#">ver oferta</a><button class="btn btn-primary px-4 ml-3" type="button">solicitar el trabajo</button></div>
    </div>
  </div>
  <!-- End: card-slide -->
  <!-- Start: card-slide -->
  <div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-uppercase"><strong>especialista en ventas</strong></h4>
        <h6 class="text-muted card-subtitle mb-2">Nombre de la tienda o comercio</h6>
        <p class="card-text">ciudad o estado</p>
        <hr><a class="card-link" href="#">ver oferta</a><button class="btn btn-primary px-4 ml-3" type="button">solicitar el trabajo</button></div>
    </div>
  </div>
  <!-- End: card-slide -->
  <!-- Start: card-slide -->
  <div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-uppercase"><strong>especialista en ventas</strong></h4>
        <h6 class="text-muted card-subtitle mb-2">Nombre de la tienda o comercio</h6>
        <p class="card-text">ciudad o estado</p>
        <hr><a class="card-link" href="#">ver oferta</a><button class="btn btn-primary px-4 ml-3" type="button">solicitar el trabajo</button></div>
    </div>
  </div>
  <!-- End: card-slide -->
  <!-- Start: card-slide -->
  <div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-uppercase"><strong>especialista en ventas</strong></h4>
        <h6 class="text-muted card-subtitle mb-2">Nombre de la tienda o comercio</h6>
        <p class="card-text">ciudad o estado</p>
        <hr><a class="card-link" href="#">ver oferta</a><button class="btn btn-primary px-4 ml-3" type="button">solicitar el trabajo</button></div>
    </div>
  </div>
  <!-- End: card-slide -->
</div>
