<app-headers [help]="true" [shops]="true" [login]="true" [cart]="true" [seller]="true"
             [shop]="false" [loguin]="true" [zipcode]="false"></app-headers>

<header class="image-header flex-parent">

</header>

<section class="phrase-about">
  <div class="container">
    <div class="pb-5">
      <div class="col-sm-12 quote pb-4 pl-0 pr-0">
        <div class="row justify-content-end">
          <div class="semicolon1" >
            <!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In  -->
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 79.2 66.8" style="enable-background:new 0 0 79.2 66.8;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#E6E6E5;}
              </style>
                            <g id="XMLID_7454_">
                <path id="XMLID_7455_" class="st0" d="M33.5,12.4C22,18.2,16.2,25.4,16.2,37c0.6-0.2,1.4-0.2,1.9-0.2c8.1,0,14.8,5.4,14.8,14.1
                  c0,9.7-6.4,15.9-14.8,15.9C6.2,66.8,0,57.3,0,41.4C0,23.2,8.9,9.1,27.4,0L33.5,12.4z M79.2,12.4c-11.6,5.8-17.3,13-17.3,24.6
                  c0.6-0.2,1.3-0.2,1.9-0.2c8.1,0,14.6,5.4,14.6,14.1c0,9.7-6.2,15.9-14.6,15.9c-11.9,0-18.3-9.5-18.3-25.4C45.5,23.2,54.5,9.1,73,0
                  L79.2,12.4z"/>
              </g>
            </svg>
          </div>
        </div>
        <p class="font-bree-regular text-about">
          porque un entorno alimentario saludable es posible cuando todos trabajamos para que el éxito se mida por el bienestar de las personas y con la naturaleza como guía
        </p>
        <div class="row justify-content-end">
          <div class="semicolon2" >
            <!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In  -->
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 79.2 66.8" style="enable-background:new 0 0 79.2 66.8;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#E6E6E5;}
              </style>
              <g id="XMLID_7454_">
                <path id="XMLID_7455_" class="st0" d="M33.5,12.4C22,18.2,16.2,25.4,16.2,37c0.6-0.2,1.4-0.2,1.9-0.2c8.1,0,14.8,5.4,14.8,14.1
                  c0,9.7-6.4,15.9-14.8,15.9C6.2,66.8,0,57.3,0,41.4C0,23.2,8.9,9.1,27.4,0L33.5,12.4z M79.2,12.4c-11.6,5.8-17.3,13-17.3,24.6
                  c0.6-0.2,1.3-0.2,1.9-0.2c8.1,0,14.6,5.4,14.6,14.1c0,9.7-6.2,15.9-14.6,15.9c-11.9,0-18.3-9.5-18.3-25.4C45.5,23.2,54.5,9.1,73,0
                  L79.2,12.4z"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-center rabanos">
        <img src="../../../../assets/img/rabano.svg" width="53px" height="47px" alt="" style="margin-bottom: 40px;">
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4 text-center">
            <div class="row">
              <div class="col-sm-3 offset-sm-3 col-6 pr-0">
                <p class="numbers mb-0">4500</p>
              </div>
              <div class="col-sm-4 col-6 text-uppercase pl-0 align-self-center">
                <p class="number-text mb-0">productos disponibles</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="row">
              <div class="col-sm-3 offset-sm-3 col-6 pr-0 align-self-center">
                <p class="numbers mb-0">4500</p>
              </div>
              <div class="col-sm-4 col-6 text-uppercase pl-0 align-self-center">
                <p class="number-text mb-0">areas que abarcamos</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="row">
              <div class="col-sm-3 offset-sm-3 col-6 pr-0">
                <p class="numbers mb-0">4500</p>
              </div>
              <div class="col-sm-4 col-6 text-uppercase pl-0 align-self-center">
                <p class="number-text mb-0">tiendas y comercios</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>


<section class="history">
  <div class="px-90">
    <div class="row">
      <div class="col-sm-12">
        <p class="mb-0 heading font-source-semibold text-center">
          Hacemos historia pensando en vos
        </p>
        <p class="subheading font-leisha text-center">
          comprometidos con la innovación
        </p>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <p class="descrip size-16 font-source-pro-light text-justify">
              Vivimos en un mundo de continuas transformaciones y nuevos desafíos. De inexorables cambios en el ritmo y la manera en la que hacemos las cosas: trabajos a distancia, comercio digital y capacitaciones online son algunas de las tendencias que tenemos a disposición si de optimizar el tiempo y los recursos se trata, logrando con ello imprimir mayor dinamismo a nuestro quehacer cotidiano.
            </p>
            <p class="descrip size-16 font-source-pro-light text-justify">
              Somos una empresa de tecnología que utiliza las herramientas más innovadoras a nivel mundial para simplificar las transacciones entre comerciantes y compradores del sector de la alimentación saludable. Los equipamos con una plataforma dinámica, inteligente y fácil de usar sin perder de vista que sos vos el protagonista. Vos elegís!
            </p>
            <p class="descrip size-16 font-source-pro-light text-justify">
              Entre los aportes inmejorables de la tecnología está el facilitar la comunicación personal y el acceso a la información de manera eficaz e inmediata, sin importar donde estés. Por eso, a través de un amplio staff de profesionales que se desempeñan en diversas áreas de nuestra organización, colocamos la tecnología y el conocimiento al servicio de nuestros usuarios.
            </p>
          </div>
          <div class="col-sm-6">
            <p class="descrip size-16 font-source-pro-light text-justify">
              Apoyamos a los pequeños comerciantes y productores que se han mantenido fieles a la fuente, a la tierra, fomentando el consumo de productos que benefician la salud. Ellos constituyen la piedra angular de la comunidad. Facilitamos que accedas a tus proveedores favoritos de alimentos, acercándote las últimas tendencias del ecommerce en este rubro.
            </p>
            <p class="descrip size-16 font-source-pro-light text-justify">
              La inclusión no la pensamos como dádiva o beneficio, sino como un derecho inalienable de la sociedad y esto incluye el acceso a la compra y venta de alimentos saludables a través de un comercio justo y transparente. Este es el sello distintivo de nuestros programas, que están orientados a darle un espacio también a quienes están fuera del sistema para que puedan comenzar a construir un futuro.
            </p>
            <p class="descrip size-16 font-source-pro-light text-justify">
              La demanda de alimentos es cada vez mayor y las condiciones para producirlos son las mismas. Para avanzar, debemos trabajar unidos en aras de preservar los sistemas locales de producción, apoyando a estos pequeños comerciantes y productores. Podemos, juntos, generar un cambio de paradigma que permita modificar nuestros hábitos de consumo y alimentación, como un legado que aporte a las generaciones futuras el más sagrado de los deberes humanos: cuidar la salud y el mundo que habitamos. Todo nuestro equipo de trabajo está comprometido con esta filosofía. ¡Sumate vos también!
            </p>
          </div>
          <div class="col-sm-12 pt-5 text-center pb-5 mb-5">
            <a class="btn btn-danger btn-compra" href="#">
              comprar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<section class="personal">

  <div class="container-fluid">
    <div class='row'>
      <div class="col-sm-6 offset-sm-3" style="top: -40px;">
        <p class="mb-0 heading font-weight-bold text-center" style='background-color: white;'>
          Detrás del click
        </p>
        <p class="mb-0 subheading font-leisha text-center" style='background-color: white;'>
          quienes  trabajamos  para  vos
        </p>
      </div>
      <div class="col-sm-12 col-12 pl-0 pr-0">
        <div class="container-fluid">
          <div class="row fondo-staff" id="trama1">
            <div class="col-lg-1-5 col-md-5-5 col-xs-5th-5">
              <img src="../../../../assets/img/staff/mary.png" class="card-img-top person img-fluid" alt="...">
              <div class="text-center pt-3" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Maria Fajardo</p>
                <p class="font-source-pro-light size-16 mb-0" style="color: #999999">CEO & Fundadora</p>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-5-5 col-xs-5th-5">
              <img src="../../../../assets/img/staff/hector1.png" class="card-img-top person img-fluid" alt="...">
              <div class="text-center pt-3" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Hector Benitez</p>
                <p class="font-source-pro-light size-16 mb-0" style="color: #999999">CTO</p>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-5-5 col-xs-5th-5">
              <img src="../../../../assets/img/staff/iris.png" class="card-img-top img-fluid" alt="...">
              <div class="text-center pt-3" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Iris Fride</p>
                <p class="font-source-pro-light size-16 mb-0" style="color: #999999">Directora de RR.HH</p>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-5-5 col-xs-5th-5">
              <img src="../../../../assets/img/staff/sandra.png" class="card-img-top img-fluid" alt="...">
              <div class="text-center pt-3" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Sandra Haug</p>
                <p class="font-source-pro-light size-16 mb-0" style="color: #999999">CDO</p>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-5-5 col-xs-5th-5">
              <img src="../../../../assets/img/staff/ana.png" class="card-img-top img-fluid" alt="...">
              <div class="text-center pt-3" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Ana G. Morales</p>
                <p class="font-source-pro-light size-16 mb-0" style="color: #999999">Consultora Nutrición</p>
              </div>
            </div>
            <!--            SALTO-->
            <div class="col-lg-1-5 col-md-5-5 col-xs-5th-5 mtreto">
              <img src="../../../../assets/img/staff/treto.png" class="card-img-top img-fluid" alt="...">
              <div class="text-center pt-3" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Ramon Treto</p>
                <p class="font-source-pro-light size-16 mb-0" style="color: #999999">CIO</p>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-5-5 col-xs-5th-5 mt-4">
              <img src="../../../../assets/img/staff/alejandro.png" class="card-img-top img-fluid" alt="...">
              <div class="text-center pt-3" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Alejandro R. Moreno</p>
                <p class="font-source-pro-light size-16 mb-0" style="color: #999999">Senior Software Engineer</p>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-5-5 col-xs-5th-5 mt-4">
              <img src="../../../../assets/img/staff/alberto.png" class="card-img-top img-fluid" alt="...">
              <div class="text-center pt-3" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Alberto Tormos</p>
                <p class="font-source-pro-light size-16 mb-0" style="color: #999999">Senior Software Engineer</p>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-5-5 col-xs-5th-5 mt-4">
              <img src="../../../../assets/img/staff/viltre.png" class="card-img-top img-fluid" alt="...">
              <div class="text-center pt-3" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Dainiel Viltre</p>
                <p class="font-source-pro-light size-16 mb-0" style="color: #999999">Senior Software Engineer</p>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-5-5 col-xs-5th-5 mt-4">
              <img src="../../../../assets/img/staff/arian.png" class="card-img-top img-fluid" alt="...">
              <div class="text-center pt-3" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Arian Cruz</p>
                <p class="font-source-pro-light size-16 mb-0" style="color: #999999">Senior Software Engineer</p>
              </div>
            </div>
          </div>
          <div class="row fondo-pets">
            <div class="col-sm-12" style="padding-top: 40px;padding-bottom: 50px;">
              <p class="mb-0 font-source-semibold-italic text-center size-18">
                ...y los co-equipers antiestrés
              </p>
            </div>
            <div class="col-6 col-sm-2 text-center mt-4">
              <img src="./../../../assets/img/staff/rambo.jpg" class="card-img-top redondo mb-3" alt="...">
              <div class="card-footer" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Rambo</p>
                <p class="mb-0 font-source-pro-light size-16" style="color: #999999">J´Guardia Seguridad</p>
              </div>
            </div>
            <div class="col-6 col-sm-2 text-center mt-4">
              <img src="./../../../assets/img/staff/rambo.jpg" class="card-img-top redondo mb-3" alt="...">
              <div class="card-footer" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Rambo</p>
                <p class="mb-0 font-source-pro-light size-16" style="color: #999999">J´Guardia Seguridad</p>
              </div>
            </div>
            <div class="col-6 col-sm-2 text-center mt-4">
              <img src="./../../../assets/img/staff/rambo.jpg" class="card-img-top redondo mb-3" alt="...">
              <div class="card-footer" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Rambo</p>
                <p class="mb-0 font-source-pro-light size-16" style="color: #999999">J´Guardia Seguridad</p>
              </div>
            </div>
            <div class="col-6 col-sm-2 text-center mt-4">
              <img src="./../../../assets/img/staff/rambo.jpg" class="card-img-top redondo mb-3" alt="...">
              <div class="card-footer" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Rambo</p>
                <p class="mb-0 font-source-pro-light size-16" style="color: #999999">J´Guardia Seguridad</p>
              </div>
            </div>
            <div class="col-6 col-sm-2 text-center mt-4">
              <img src="./../../../assets/img/staff/rambo.jpg" class="card-img-top redondo mb-3" alt="...">
              <div class="card-footer" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Rambo</p>
                <p class="mb-0 font-source-pro-light size-16" style="color: #999999">J´Guardia Seguridad</p>
              </div>
            </div>
            <div class="col-6 col-sm-2 text-center mt-4">
              <img src="./../../../assets/img/staff/rambo.jpg" class="card-img-top redondo mb-3" alt="...">
              <div class="card-footer" style='background-color: white'>
                <p class="mb-0 font-source-black size-18">Rambo</p>
                <p class="mb-0 font-source-pro-light size-16" style="color: #999999">J´Guardia Seguridad</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="rankings" style="background-color: white">
  <div class="container-fluid pt-5">
    <div class="row" class="text-center">
      <div class="col-sm-12">
        <p class="mb-0 heading font-source-semibold text-center">Nuestros aliados</p>
        <p class="mb-0 subheading font-leisha text-center" >tus comercios  preferentes</p>
      </div>
    </div>
  </div>
  <div class="px-90 desktop">
    <div class="row pt-4 pb-5">
      <div class="col-sm-12 text-center">
        <div class="card-deck pt-3">
          <div class="card" style="align-items: center">
            <img src="../../../assets/img/logo_tinaco.png" width="100px" height="100px" alt="" >
          </div>
          <div class="card" style="align-items: center">
            <img src="../../../../assets/img/6d52742f-c20c-404e-abb7-67935cc428d3.png" width="100px" height="100px" alt="" >
          </div>
          <div class="card" style="align-items: center">
            <img src="../../../../assets/img/bendito.png" width="100px" height="100px" alt="" >
          </div>
          <div class="card" style="align-items: center">
            <img src="../../../../assets/img/images-1.png" width="100px" height="100px" alt="" >
          </div>
          <div class="card" style="align-items: center">
            <img src="../../../../assets/img/images.png" width="100px" height="100px" alt="" >
          </div>
          <div class="card" style="align-items: center">
            <img src="../../../../assets/img/images-2.jpg" width="100px" height="100px" alt="" >
          </div>
          <div class="card" style="align-items: center">
            <img src="../../../../assets/img/images-4.jpg" width="100px" height="100px" alt="" >
          </div>
          <div class="card" style="align-items: center">
            <img src="../../../../assets/img/images%20(14).jpg" width="100px" height="100px" alt="" >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='container-fluid movil'>
    <div class='row'>
      <div class="col-3 text-center mt-3">
        <img src="../../../../assets/img/bendito.png" class="redondo_movil mb-3" alt="...">
      </div>
      <div class="col-3 text-center mt-3">
        <img src="../../../../assets/img/images%20(14).jpg" class="redondo_movil mb-3" alt="...">
      </div>
      <div class="col-3 text-center mt-3">
        <img src="../../../../assets/img/images-4.jpg" class="redondo_movil mb-3" alt="...">
      </div>
      <div class="col-3 text-center mt-3">
        <img src="../../../../assets/img/images-2.jpg" class="redondo_movil mb-3" alt="...">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center pb-5" style="background-color: white; padding-top: 30px">
        <a class="btn btn-danger btn-compra-outline" href="#">
          ver todos los comercios
        </a>
      </div>
    </div>
  </div>

</section>




<app-footer [phrase]='true' ></app-footer>
