<ng-template [ngIf]="cards === 'wide'">
  <div class="col card-noch mb-5">
    <!-- Start: sub 1 -->
    <div class="row">
      <!-- Start: image -->
      <div class="col image-side"></div>
      <!-- End: image -->
      <!-- Start: text -->
      <div class="col text-side left-arrow-noch">
        <h5 class="pt-4 subtitle">Ensalada griega</h5>
        <p class="pt-1">Descripción del plato, descripción del plato, descripción del plato, plato, descripción del plato&nbsp;<a href="#">ver mas »</a></p>
      </div>
      <!-- End: text -->
    </div>
    <!-- End: sub 1 -->
    <!-- Start: sub 2 -->
    <div class="row">
      <!-- Start: text -->
      <div class="col text-side right-arrow-noch">
        <h5 class="pt-4 subtitle">Ensalada griega</h5>
        <p class="pt-1">Descripción del plato, descripción del plato, descripción del plato, plato, descripción del plato&nbsp;<a href="#">ver mas »</a></p>
      </div>
      <!-- End: text -->
      <!-- Start: image -->
      <div class="col image-side"></div>
      <!-- End: image -->
    </div>
    <!-- End: sub 2 -->
  </div>
</ng-template>
<ng-template [ngIf]="cards === 'content'" ]>
  <div class="card-noch mt-3 card-jobs container">
    <!-- Start: sub 1 -->
    <div class="row mb-4">
      <!-- Start: image -->
      <div class="col image-side"></div>
      <!-- End: image -->
      <!-- Start: text -->
      <div class="col text-side left-arrow-noch">
        <h5 class="pt-4 subtitle text-center">Ensalada griega</h5>
        <p class="pt-1 mx-5 text-justify">Descripción del plato, descripción del plato, descripción del plato, plato, descripción del plato&nbsp;</p>
        <div class="justify-content-center"><button class="btn btn-primary" type="button">explorá nuestra variedad</button></div>
      </div>
      <!-- End: text -->
    </div>
    <!-- End: sub 1 -->
  </div>
  <div class="card-noch mt-3 card-jobs container">
    <!-- Start: sub 2 -->
    <div class="row mb-4">
      <!-- Start: text -->
      <div class="col text-side right-arrow-noch">
        <h5 class="pt-4 subtitle text-center">Ensalada griega</h5>
        <p class="pt-1 mx-5 text-justify">Descripción del plato, descripción del plato, descripción del plato, plato, descripción del plato&nbsp;</p>
        <div class="justify-content-center"><button class="btn btn-primary" type="button">explorá nuestra variedad</button></div>
      </div>
      <!-- End: text -->
      <!-- Start: image -->
      <div class="col image-side"></div>
      <!-- End: image -->
    </div>
    <!-- End: sub 2 -->
  </div>
</ng-template>
<ng-template [ngIf]="cards === 'providers'" ]>
  <div class="card-noch mt-3 card-provaiders container">
    <!-- Start: sub 2 -->
    <div class="row mb-4">
      <!-- Start: text -->
      <div class="col text-side">
        <h3 class="pt-4 subtitle text-left">Expandí tu negocio!!</h3>
        <h5 class="subtitle text-right">sin apenas moverte o invertir</h5>
        <p class="pt-1 mx-2 text-justify">Descripción del plato, descripción del plato, descripción del plato, plato, descripción del plato&nbsp;Descripción del plato, descripción del plato, descripción del plato, plato, descripción del plato&nbsp;Descripción del plato, descripción
          del plato, descripción del plato, plato</p>
      </div>
      <!-- End: text -->
      <!-- Start: image -->
      <div class="col image-side"></div>
      <!-- End: image -->
    </div>
    <!-- End: sub 2 -->
  </div>
  <div class="card-noch mt-3 card-provaiders container">
    <!-- Start: sub 2 -->
    <div class="row mb-4">
      <!-- Start: image -->
      <div class="col image-side"></div>
      <!-- End: image -->
      <!-- Start: text -->
      <div class="col text-side-quote">
        <h4 class="text-left text-uppercase">Nombre de la tienda o vendedor</h4>
        <p class="pt-1 mx-5 text-justify">Testimonio de fulanita Testimonio de fulanitaTestimonio de fulanita Testimonio de fulanita Testimonio de fulanita Testimonio de fulanitaTestimonio de fulanita Testimonio de fulanita”</p>
      </div>
      <!-- End: text -->
    </div>
    <!-- End: sub 2 -->
  </div>
</ng-template>
<ng-template [ngIf]="cards === 'icons'" ]>
  <div class="container">
  <div class="row justify-content-around">
    <!-- Start: card product -->
    <div class="card-products-saler card"><img alt="" src="../../../../assets/img/family.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">$788</h5>
        <p>Nombre del producto completo que puede ser largo, largo</p><label>cant d onz/grs, etc</label></div><button class="btn btn-primary" type="button">+</button></div>
    <!-- End: card product -->
    <!-- Start: card product -->
    <div class="card-products-saler card"><img src="../../../../assets/img/family.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">$788</h5>
        <p>Nombre del producto completo que puede ser largo, largo</p><label>cant d onz/grs, etc</label></div><button class="btn btn-primary" type="button">+</button></div>
    <!-- End: card product -->
    <!-- Start: card product -->
    <div class="card-products-saler card"><img src="../../../../assets/img/family.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">$788</h5>
        <p>Nombre del producto completo que puede ser largo, largo</p><label>cant d onz/grs, etc</label></div><button class="btn btn-primary" type="button">+</button></div>
    <!-- End: card product -->
    <!-- Start: card product -->
    <div class="card-products-saler card"><img src="../../../../assets/img/family.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">$788</h5>
        <p>Nombre del producto completo que puede ser largo, largo</p><label>cant d onz/grs, etc</label></div><button class="btn btn-primary" type="button">+</button></div>
    <!-- End: card product -->
  </div>
  </div>
</ng-template>
