<app-headers [help]="true" [shops]="true" [login]="true" [cart]="true" [seller]="true"
             [shop]="false" [loguin]="true" [zipcode]="false"></app-headers>

<div class="politics" [ngClass]="{'navdouble':shop === false}">
  <div class="container">
    <h1 class="pt-5 header">Políticas de Privacidad</h1>
    <h2 class="text-uppercase sub-header pt-2">fecha de actualización:&nbsp;<span class="text-warning">12/05/2019</span></h2>
    <p class="col-9 pt-4 justify-content-start">texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso
      texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso</p>
  </div>
</div>
<div class="container justify-content-start blocks">
  <h3 class="pb-3 text-uppercase">Recopilación de la Información</h3>
  <h3>Información que VOS nos das</h3>
  <p class="col-9">texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto
    fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso</p>
</div>
<div class="section text-right pt-3">
  <div class="container blocks">
    <h3 class="pb-3 text-uppercase"><strong>uso de la Información</strong></h3>
    <div class="row">
      <p class="col-3"></p>
      <p class="col-9">texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso
        texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto
        falso</p>
    </div>
  </div>
</div>
<div class="container justify-content-start blocks pt-3">
  <h3 class="pb-3 text-uppercase">INFORMACIÓN COMPARTIDA</h3>
  <p class="col-9">texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto
    fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso</p>
</div>
<div class="section text-right pt-3">
  <div class="container blocks">
    <h3 class="pb-3 text-uppercase"><strong>Información compartida de las redes</strong><br></h3>
    <div class="row">
      <p class="col-3"></p>
      <p class="col-9">texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso
        texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto
        falso</p>
    </div>
  </div>
</div>
<div class="container justify-content-start blocks pt-3 pb-5">
  <h3 class="pb-3 text-uppercase">publicidad</h3>
  <p class="col-9">texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto
    fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso texto fakso texto falso</p>
</div>


<app-footer [phrase]="false" [strawberry]="true"></app-footer>
