.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: 0;
}
.fixed-top #first {
  -webkit-transition: padding 0.2s ease;
  -moz-transition: padding 0.2s ease;
  -o-transition: padding 0.2s ease;
  transition: padding 0.2s ease;
}

.affix #first {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
  -webkit-transition: padding 0.2s linear;
  -moz-transition: padding 0.2s linear;
  -o-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}

.double_nav {
  .navbar-brand {
    font-family: var(--font-bree-regular);
    color: var(--ngreen) !important;
    font-size: 22.94px;

    span {
      margin-left: 10px;
    }
  }
;

  li.nav-item > a {
    color: var(--ngreen) !important;
    font-family: var(--font-source-pro);
    font-weight: 500;
    font-size: 16px;
  }
;

  li.nav-item > a.help {
    color: var(--help-gray) !important;
    font-family: var(--font-source-pro);
    font-weight: normal;
    font-size: 16px;
  }

  .notification {
    font-variant: diagonal-fractions;
    color: red;
    font-size: 3em;
    line-height: 0;
  }

  .cart {
    border-radius: 30px;
    padding-left: 25px !important;
    background: #EFEFEF;
    line-height: 1;
    margin-top: 5px;

    i.carrito {
      background-image: url('../../../../assets/img/cart.svg');
      background-repeat: no-repeat;
      height: 25px;
      width: 25px;
      position: absolute;
      margin-left: -16px;
      margin-top: 0
    }
  ;
  }
;

  .btn-nav {
    border: solid 1.5pt #6B9111;
    border-radius: 30px;
    line-height: 1;
    margin-top: 3px;
  }
;

  .face-plus {
    padding-left: 25px !important;

    span.face-plus {
      background-image: url('../../../../assets/img/face+.svg');
      background-repeat: no-repeat;
      height: 25px;
      width: 20px;
      position: absolute;
      margin-left: -16px;
      margin-top: 0
    }
  ;
  }
;

  .shop_header {
    padding-left: 25px !important;

    span.shop_icon_header {
      background-image: url('../../../../assets/img/vender_icon.png');
      background-repeat: no-repeat;
      height: 25px;
      width: 20px;
      position: absolute;
      margin-left: -16px;
      margin-top: 0;
    }
  ;
  }
;

  .btn-searsh {
    background-color: var(--mterra);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 2.1rem;

    i {
      color: var(--ngreen);
    }
  ;
  }
;

  .searsh {
    background-color: #EFEFEF;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: calc(1.2em + 0.75rem + 2px);
  }
;

  .navbar-light {
    background: white !important;
  }
;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--mterra);
}

;
.btn:focus, .btn.focus {
  box-shadow: none;
}

.nav-transp {
  background: transparent !important;
  z-index: 10;
}

;

.panadi {
  color: #ff6600;
  font-size: 14px;
}

.pdireccion {
  font-family: var(--font-source-semibold);
  font-size: 14px;
  color: #ff6600;
  margin-top: -5px;
}

.bdepartamentos {
  font-family: var(--font-bree-regular);
  font-size: 16px;
  color: #999;
}

.nav-pr {
  padding-right: 15px;
}

.single {
  border-bottom: 1px solid #CCCCCC;
}

.top-divider {
  border-top: #efefef solid 2px;
  border-bottom: #efefef solid 2px;
  background: white;
  //margin-top: 63px;

  .grid-divider {
    position: relative;
  }

  .grid-divider-down {
    position: relative;
  }

  .datazip {
    -webkit-appearance: unset;
  }

  // HASTA NUEVO AVISO
  //.grid-divider > [class*="col-"]:nth-child(-n + 3):after {
  //  content: "";
  //  background-color: #efefef;
  //  position: absolute;
  //  top: 0px;
  //  bottom: 0px;
  //
  //  @media (max-width: 767px) {
  //    width: 100%;
  //    height: 2px;
  //    left: 0;
  //    top: -4px; // quickfix to center line between columns
  //  }
  //  @media (min-width: 768px) {
  //    width: 2px;
  //    height: auto;
  //    left: -1px; // quickfix to hide divider on left side
  //  }
  //}


  span.amount {
    color: var(--morange);
  }

  .btn-offers {
    background-color: var(--morange);
    border-color: var(--morange);
    color: white;
    padding: 0 10px 0 10px;
    border-radius: 30px;
  }

  .leisha {
    font-family: var(--font-leisha);
    font-size: 2rem;
    color: var(--morange);
    margin-bottom: 0;
  }

  .sign-plus {
    color: var(--morange);
    font-size: 1.2em;
    line-height: 0;
    margin-top: 10px;
    top: -28px;
    position: relative;
    top: -5px;
    font-weight: 700;
  }

  .sign-dot {
    color: var(--ngreen);
    font-size: 2em;
    line-height: 0;
    top: -28px;
    position: relative;
    top: -10px;
    font-weight: 700;
  }

  .embracing {
    background: linear-gradient(to right, white, transparent), url('../../../../assets/img/shops.jpg') right/100% no-repeat;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }

}

.menulvl1 {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  width: 500px;
  height: 375px;
  padding: 40px 40px 40px 30px;
}

.dropdown-menu.show {
  top: unset !important;
  transform: unset !important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -9.1px;
  margin-left: -5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}


.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.lvl1 {
  background-color: rgb(242, 242, 242);
  padding-left: 32px;
  padding-right: 6px;
  width: 400px;
  border-radius: 0;
  top: 110px !important;
  left: 10px !important;
}

a.lvl1a {
  &:hover {
    color: var(--ngreen) !important;
    text-decoration: unset;

    &:after {
      content: '';
      background-color: #C41F4E;
      position: absolute;
      top: 10px;
      bottom: 0;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      margin-left: 10px;
    }
  }
}

.submenulvl1 {
  color: #333333 !important;
  text-decoration: unset;
}

ul.dropdown-menu.menulvl1:before {
  content: '';
  background-color: white;
  position: absolute;
  top: 10px;
  bottom: 0;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-left: -40px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.showDepartment {
  display: block
}

.hideDepartment {
  display: none;
}


