<section class='modalcards'>

  <div class="box_why text-center" *ngIf='enter === 1'>
    <h5 class="text-uppercase green"><strong>tu tienda electrónica</strong></h5>
    <p>Al necesitar menos inversión, podés crecer más rápido y llegar a más gente que con una tienda física. Si ya tenés la tienda, el paso más difícil lo has dado y podés obtener un mayor número de clientes tanto online como offline gracias al aumento de visibilidad que te damos. Adaptá entonces tus pedidos online creando un sistema propio de trabajo que te permita optimizar tus ventas e ingresos. Desde la gestión del tiempo de entrega hasta el volumen de ventas, podés administrar todo el proceso sin dejar escapar la oportunidad de vender más y mejor.</p>
  </div>

  <div class="box_why text-center" *ngIf='enter === 2'>
    <h5 class="text-uppercase green"><strong>ventaja competitiva</strong></h5>
    <p>Podés estar a la altura de los grandes de la industria. Los consumidores quieren tenerlo todo: mejor precio, mejor servicio y una atención personalizada. Sumamos una propuesta de valor donde vos te encargás exclusivamente de tener productos ricos y de calidad y nosotros nos encargamos del difícil trabajo de buscar clientes y convertir las ventas. Con nosotros tenés mayor facilidad de mostrar todos tus productos y mayor facilidad y rapidez para que tus clientes los encuentren.</p>
  </div>

  <div class="box_why text-center" *ngIf='enter === 3'>
    <h5 class="text-uppercase green"><strong>disminución de costos</strong></h5>
    <p>Podés incrementar tus ingresos con las ventas online si tenés un buen producto o servicio que ofrecer. No necesitás tener un local costoso para vender tus productos. Tampoco tener un gran stock: si no querés asumir riesgos o no sabés si el producto se va a vender bien, podés trabajar bajo pedido con tu proveedor mayorista, de manera que no tenés que invertir ni almacenar mercancía que, en caso de que no se venda, te suponga pérdidas. Hoy es posible hacerlo gracias a los recursos que te acercamos.</p>
  </div>

  <div class="box_why text-center" *ngIf='enter === 4'>
    <h5 class="text-uppercase green"><strong>disponibilidad 24/7</strong></h5>
    <p>Visibilidad de tus productos los 365 días del año. Texto: Internet nunca duerme, por tanto gracias a nuestra tecnología, tus ventas no tienen barrera horaria o geográfica y tus clientes pueden comprar en cualquier momento y desde cualquier lugar aprovechando tus ofertas y facilidades de compra.</p>
  </div>

  <div class="box_why text-center" *ngIf='enter === 5'>
    <h5 class="text-uppercase green"><strong>publicidad Y marketing</strong></h5>
    <p>Con el Marketing Digital las fronteras desaparecen y la audiencia potencial es mucho mayor…y no es sólo para las grandes empresas: vale para todas!. De hecho, es la oportunidad perfecta para que las pequeñas y medianas empresas compitan y ganen mercado. Tus clientes potenciales y reales están en la red; buscando y opinando todo el tiempo y es la oportunidad perfecta para interactuar directamente con ellos. </p>
  </div>

  <div class="box_why text-center" *ngIf='enter === 6'>
    <h5 class="text-uppercase green"><strong>personalización de tu negocio</strong></h5>
    <p>Podés incrementar tus ingresos con las ventas online si tenés un buen producto o servicio que ofrecer. No necesitás tener un local costoso para vender tus productos. Tampoco tener un gran stock: si no querés asumir riesgos o no sabés si el producto se va a vender bien, podés trabajar bajo pedido con tu proveedor mayorista, de manera que no tenés que invertir ni almacenar mercancía que, en caso de que no se venda, te suponga pérdidas. Hoy es posible hacerlo gracias a los recursos que te acercamos.</p>
  </div>

  <div class="box_why text-center" *ngIf='enter === 7'>
    <h5 class="text-uppercase green"><strong>servicio al cliente</strong></h5>
    <p>Podés crSupervisamos los pedidos, entregas y nos encargamos de los pagos o reembolsos, mientras vos te concentrás en lo que importa: tu negocio. Utilizará el circuito de comentarios de Mundo Naturali para mantenerte actualizado sobre lo que piensan tus clientes de ti y tus potenciales clientes.</p>
  </div>

  <div class="box_why text-center" *ngIf='enter === 8'>
    <h5 class="text-uppercase green"><strong>Sistema de gestión</strong></h5>
    <p>Nuestra potente herramienta de gestión, te permite centralizar tu teléfono, email y tus ventas para trabajar de manera más eficiente y sostenible y satisfacer los requerimientos de tus clientes, mejorando tu operación interna y externa lo que se traduce en un aumento de tus ingresos. </p>
  </div>

  <div class="box_why text-center" *ngIf='enter === 9'>
    <h5 class="text-uppercase green"><strong>administración de envíos </strong></h5>
    <p>Podés encargarte de hacer tus envíos -configurándolos desde tu cuenta- o nos encargamos nosotros de retirar el pedido en tu negocio y hacerlo llegar al cliente. Está en tus manos. Vos decidís qué opción te resulta más conveniente.</p>
  </div>


</section>
