<app-headers [help]="true" [shops]="true" [login]="true" [cart]="true" [seller]="true"
             [shop]="false" [loguin]="true" [zipcode]="false"></app-headers>

<header class="image-header flex-parent">
  <div class="text-center">
    <h2 class="main_title">Fortalecé tu negocio,
      con ventas y envíos online</h2>
    <p class="secondary_title">Aumentá tus ventas llegando a más usuarios
      desde un mismo lugar</p>
  </div>
</header>

<section class="unete">
  <div style='padding-bottom: 115px;'>
    <div class="row">
      <div class="col-sm-12">
        <p class="mb-0 text-center head">
          Unite a la comunidad de <br> <span class='font-leisha sub'>mundo naturali</span>
        </p>
        <p class="second text-center">
          Formá parte de los ganadores del futuro y poné tu negocio online
        </p>
      </div>
      <div class="col-sm-12 text-center pb-5 mb-5">
        <a class="btn btn-danger btn-compra" href="#">
          empezar a vender
        </a>
      </div>
      <div class="col-sm-12">
        <div class="row mb-5">
          <div class="col-sm-12 col-md-5 text-center offset-md-1">
            <p class="mb-0 font-bree-regular" style="font-size: 34px">
              Expandí tu negocio!!
            </p>
            <p class="mb-0 font-leisha subleisha">
              sin apenas moverte o invertir
            </p>
            <p class="mx-3 size-18 font-source-pro-light text-justify">
              Los tiempos han cambiado. Para hacer crecer tu negocio no necesitás tener un local
              costoso y bien armado. El comercio electrónico soluciona tu problema porque podés vender
              sin limitación geográfica desde cualquier lugar, ya sea desde tu hogar, una plaza o desde
              tu propia tienda!. Mundo Naturali te ofrece un sistema de gestión de ventas y envíos que
              te permite llegar a nuevos clientes en áreas nunca exploradas.
            </p>
          </div>
          <div class="col-sm-12 col-md-6">
            <img src='../../../../assets/img/cuadro1.png' alt='Expandi tu negocio' width='100%' height='100%'>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 offset-md-1">
            <img src='../../../../assets/img/cuadro1.png' alt='Expandi tu negocio' width='100%' height='100%'>
          </div>
          <div class="col-sm-12 col-md-5 text-center">
            <p class="mb-0 font-bree-regular" style="font-size: 34px">
              Pensá como consumidor
            </p>
            <p class="mb-0 font-leisha subleisha">
              eres uno de ellos
            </p>
            <p class="mx-5 size-18 font-source-pro-light text-justify">
              Los consumidores también han evolucionado, pensá como ellos. Cada vez, con mayor frecuencia,
              los pedidos y las compras se hacen online. Te has preguntado por qué? Con las facilidades que brindan
              las compras online, el cliente puede adquirir o ver tus productos cada semana, las 24 hs al día,
              incluso en días festivos, desde la comodidad de su casa o en la marcha!
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-end col-12">
        <div class="strawberry">
          <svg-icon src="../../../../assets/img/fresas.svg" [svgStyle]="{'fill':'#C9C9C9'}"></svg-icon>
        </div>
      </div>
    </div>
  </div>
</section>

<div class='px-90' style='background-color: white'>
  <section class='modalcards'>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center head mb-3">
          Mirá lo que tenemos para vos
        </p>
        <p class="second text-center">
          Comenzá a vender hoy y disfrutá de los beneficios que te ofrecemos
        </p>
      </div>
      <div class="text-right">
        <!-- Start: cards -->
        <div class="row justify-content-center features pt-5">
          <!-- Start: card -->
          <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
            <div class="box_why text-center">
              <div class="logo">
                <img src='../../../../assets/img/why-sell/cuadro1.png' alt=''>
              </div>
              <h5 class="text-uppercase green"><strong>tu tienda electrónica</strong></h5>
              <p>Mayor disponibilidad, más usuarios, más ventas</p>
              <p class='font-source-pro' style='font-size: 34px' (click)='openMessage(1)'>+</p>
            </div>
          </div>
          <!-- End: card -->
          <!-- Start: card -->
          <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
            <div class="box_why text-center">
              <div class="logo">
                <img src='../../../../assets/img/why-sell/cuadro2.png' alt=''>
              </div>
              <h5 class="text-uppercase green"><strong>ventaja competitiva</strong><br></h5>
              <p>Con el uso de nuevas tecnologías entrás en el juego</p>
              <div><p class='font-source-pro' style='font-size: 34px' (click)='openMessage(2)'>+</p></div>
            </div>
          </div>
          <!-- End: card -->
          <!-- Start: card -->
          <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
            <div class="box_why text-center">
              <div class="logo">
                <img src='../../../../assets/img/why-sell/cuadro3.png' alt=''>
              </div>
              <h5 class="text-uppercase green"><strong>disminución de costos</strong><br></h5>
              <p>No tengás gastos innecesarios, el producto es lo que importa</p>
              <p class='font-source-pro' style='font-size: 34px' (click)='openMessage(3)'>+</p>
            </div>
          </div>
          <!-- End: card -->
          <!-- Start: card -->
          <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
            <div class="box_why text-center">
              <div class="logo">
                <img src='../../../../assets/img/why-sell/cuadro4.png' alt=''>
              </div>
              <h5 class="text-uppercase green"><strong>disponibilidad 24/7</strong><br></h5>
              <p>Visibilidad de tus productos los 365 días del año</p>
              <p class='font-source-pro' style='font-size: 34px' (click)='openMessage(4)'>+</p>
            </div>
          </div>
          <!-- End: card -->
          <!-- Start: card -->
          <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
            <div class="box_why text-center">
              <div class="logo">
                <img src='../../../../assets/img/why-sell/cuadro5.png' alt=''>
              </div>
              <h5 class="text-uppercase green"><strong>marketing</strong><br></h5>
              <p>Aprovechá el poder de la tecnologia con marketing digital </p>
              <p class='font-source-pro' style='font-size: 34px' (click)='openMessage(5)'>+</p>
            </div>
          </div>
          <!-- End: card -->
          <!-- Start: card -->
          <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
            <div class="box_why text-center">
              <div class="logo">
                <img src='../../../../assets/img/why-sell/cuadro6.png' alt=''>
              </div>
              <h5 class="text-uppercase green"><strong>personalización
                del negocio</strong><br></h5>
              <p>Tus productos son únicos, tu imagen debe ser igual</p>
              <p class='font-source-pro' style='font-size: 34px' (click)='openMessage(6)'>+</p>
            </div>
          </div>
          <!-- End: card -->
          <!-- Start: card -->
          <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
            <div class="box_why text-center">
              <div class="logo">
                <img src='../../../../assets/img/why-sell/cuadro7.png' alt=''>
              </div>
              <h5 class="text-uppercase green"><strong>servicio al cliente</strong><br></h5>
              <p>Concentrate en tus pedidos, nos encargamos de los problemas</p>
              <div><p class='font-source-pro' style='font-size: 34px' (click)='openMessage(7)'>+</p></div>
            </div>
          </div>
          <!-- End: card -->
          <!-- Start: card -->
          <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
            <div class="box_why text-center">
              <div class="logo">
                <img src='../../../../assets/img/why-sell/cuadro8.png' alt=''>
              </div>
              <h5 class="text-uppercase green"><strong>Sistema de gestión</strong><br></h5>
              <p>Administrá tu empresa impecablemente y aumentá tus ingresos</p>
              <div><p class='font-source-pro' style='font-size: 34px' (click)='openMessage(8)'>+</p></div>
            </div>
          </div>
          <!-- End: card -->
          <!-- Start: card -->
          <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
            <div class="box_why text-center">
              <div class="logo">
                <img src='../../../../assets/img/why-sell/cuadro9.png' alt=''>
              </div>
              <h5 class="text-uppercase green"><strong>administración de envíos </strong><br></h5>
              <p>Para tus envios, tenés la opción de elegir, nosotros o vos</p>
              <div><p class='font-source-pro' style='font-size: 34px' (click)='openMessage(9)'>+</p></div>
            </div>
          </div>
          <!-- End: card -->
        </div>
        <!-- End: cards -->
      </div>
      <div class='col-sm-12 pb-4 text-center'>
        <img src='../../../../assets/img/calabaza.svg' alt='' width='48px' height='40px'>
      </div>
    </div>
  </section>
</div>

<section class='video pt-5'>
  <div class='px-90'>
    <div class='row'>
      <div class="col-sm-12">
        <p class="text-center head mb-3">
          ¿Querés saber un poco más?
        </p>
        <p class="second text-center">
          Mirá el siguiente video para entender mejor cómo funciona
        </p>
      </div>
      <div class='col-sm-12 text-center'>
        <img src="../../../../assets/img/video-no.svg" width="100%" height="380" alt="Video no soportado"
             style='position:relative;z-index: 11'>
        <!--        <video width="620" height="380">-->
        <!--          <source src="video.mp4" type="video/mp4">-->
        <!--          <source src="video.webm" type="video/webm">-->
        <!--          <source src="video.ogv" type="video/ogg">-->
        <!--          -->
        <!--          Su navegador no soporta contenido multimedia.-->
        <!--        </video>-->
        <div class="row justify-content-end">
          <div class="onions">
            <svg-icon src="../../../../assets/img/onions.svg"></svg-icon>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-center pb-0 mb-3">
        <a class="btn btn-danger btn-compra" href="#">
          empezar a vender
        </a>
      </div>
      <div class="col-sm-12 text-center mb-0">
        <p class='font-source-pro size-16' style='color:#808080'>Tenés alguna duda? <span style='color: var(--morange)'><a>Contactanos</a></span>
          o solicitá nuestra <span style='color: var(--morange)'><a>asistencia en línea</a></span></p>
      </div>
    </div>
  </div>
</section>
<section class="rankings" style="background-color: white">
  <div fxLayout="row" class="pt-5">
    <div fxFlex="100%" class="text-center">
      <p class="mb-0 heading font-source-semibold text-center">Sé parte de los triunfadores</p>
    </div>
  </div>
  <div class="">
    <div class="pt-4 pb-5">
      <div class="col-sm-12 text-center">
        <owl-carousel [items]="parceros" [options]="carouselOptions"
                      [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="item" *ngFor="let image of parceros;let i = index">
            <img [src]="image" width="100px" height="100px" alt="">
          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
  <div class="">
    <div class="">
      <div class='col-sm-12 text-center'>
        <p class="mb-0 font-leisha leisha-carousel text-center">
          lo que ellos dicen
        </p>
        <ngb-carousel [showNavigationArrows]="false" (slide)="carouselCounter($event)">
          <ng-template ngbSlide>
            <div class="row">
              <div class="col-sm-12 col-md-6" style="padding-top: 50px">
                <img src="../../../../assets/img/valores_slide/ADMINISTRACION%20AMBIENTAL.jpg" alt="" width="100%"
                     height="370px">
              </div>
              <div class="col-sm-12 col-md-6 testimonials">
                <div class="row pl-0 pr-0">
                  <div class="col-12 ml-0 mr-0">
                    <p class="font-source-semibold text-justify" style="font-size: 22px;line-height: 32px;">
                      La Panadería de rosmary
                    </p>
                    <p class="font-italic text-justify" style="color:#333;font-size: 22px">
                      Empezamos a vender hace unos meses y todo ha sido a pedir de boca. tenemos muchos más
                      clientes que antes desde que entramos a la plataforma de mundo naturali.
                    </p>
                  </div>
                  <p class="contador">{{valueSlide}} / {{totalSlide}}</p>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
        <div class="col-sm-12" style="height: 100px; margin-bottom: -65px;"></div>
      </div>
    </div>
  </div>

</section>

<app-footer [phrase]="true" [strawberry]="false"></app-footer>
