
<div class="row profile-container">
  <div class="col-6 header_superior">
    <nb-icon  icon="menu-2-outline"  pack="eva" (click)="toggle()"></nb-icon>
    <a class="navbar-brand mr-3 name-logo" href="#">
      <img alt="Mundo Naturali" class="img-logo" src="../../../../assets/img/logo.png">
      <span>mundo naturali</span>
    </a>
    <a class='font-bree-regular size-18' style='color: #F09912'>Mi Cuenta</a>
  </div>
  <div class="col-6 header_superior" fxLayout="row" fxLayoutAlign="end center">
    <nb-actions size="small" class="size-small">
      <nb-action class="control-item dropdown" >
        <div class="btn-group show-on-hover">
          <button type="button" class="btn btn-default dropdown-toggle bdepartamentos" data-toggle="dropdown">
            Hola, La Casa de ... <span class="caret"></span>
          </button>
          <ul class="dropdown-menu multi-level lvl1" role="menu">
            <li class="dropdown-submenu font-source-pro-light size-16 mb-2">
              <a tabindex="-1" href="#" class="lvl1a" style="color: #333333">name</a>
            </li>
            <li class="dropdown-submenu font-source-pro-light size-16 mb-2">
              <a tabindex="-1" href="#" class="lvl1a" style="color: #333333">name</a>
            </li>
            <li class="dropdown-submenu font-source-pro-light size-16 mb-2">
              <a tabindex="-1" href="#" class="lvl1a" style="color: #333333">name</a>
            </li>
            <li class="dropdown-submenu font-source-pro-light size-16 mb-2">
              <a tabindex="-1" href="#" class="lvl1a" style="color: #333333">name</a>
            </li>
          </ul>
        </div>
      </nb-action>
      <nb-action class="control-item message" icon="message-square-outline">
        <a class="icon-container " href="#" title="">
          <nb-icon  icon="message-square-outline" pack="eva" style='color:#6B9111'></nb-icon>
        </a>
      </nb-action>
      <nb-action class="control-item bell" icon="bell-outline">
        <a class="icon-container " href="#" title="">
          <nb-icon  icon="bell-outline" pack="eva" style='color:#6B9111'></nb-icon>
        </a>
      </nb-action>
      <nb-action class="control-item setting" icon="settings-2-outline">
        <a class="icon-container " href="#" title="">
          <nb-icon  icon="settings-2-outline" pack="eva" style='color:#6B9111'></nb-icon>
        </a>
      </nb-action>
      <nb-action>
        <a class="btn btn-danger btn-compra" href="#">
          Activar mi tienda
        </a>
      </nb-action>
    </nb-actions>
  </div>
  <div class="col-4 name_big pr-0">
    <p class="p_big">La casa de las verduras</p>
  </div>

  <div class="col-8 name_big pl-0">
    <p class="p_small">Tu comercio tiene pendientes!!! Revisá tus configuraciones y optimizá tus recursos para vender más</p>
  </div>
</div>

